<h1>Welcome Aboard!</h1>
  <div class="pirate">
    <h2>NAME: <%=@pirate.name%></h2>
    <h3>Height: <%=@pirate.height%></h3>
    <h3>Weight: <%=@pirate.weight%></h3>
  </div>

  <div class="ship">
    <ul>
    <% @pirate.ships.each_with_index do |ship, i| %>
      <li><h2>Ship<%= "#{i + 1}"%></h2></li>
      <li><h3>Name: <%=ship.name%></h3></li>
      <li><h3>Cateogry: <%=ship.category%></h3></li>
      <li><h3>Booty: <%=ship.booty%></h3></li>
    <%end%>
  </ul>
